@font-face {
    font-family: 'Acto Light';
    src: url('/v6/fonts/acto-light-webfont.eot');
    src: url('/v6/fonts/acto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/v6/fonts/acto-light-webfont.woff') format('woff'),
         url('/v6/fonts/acto-light-webfont.ttf') format('truetype'),
         url('/v6/fonts/acto-light-webfont.svg#actolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Acto ExtraBold';
    src: url('/v6/fonts/acto-extrabold-webfont.eot');
    src: url('/v6/fonts/acto-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/v6/fonts/acto-extrabold-webfont.woff') format('woff'),
         url('/v6/fonts/acto-extrabold-webfont.ttf') format('truetype'),
         url('/v6/fonts/acto-extrabold-webfont.svg#actoextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
#popinArticle{position:fixed;z-index:10010;top:0;left:0;width:100%;height:100%;background:#fff;border:1px solid #ddd;}
#popinArticle .head{display:none;position:fixed;z-index:1;top:0;left:0;right:0;height:38px;background:#fff;cursor:pointer;box-shadow:0px -1px 5px #000000;}
#popinArticle .head .logo{display:block;position:absolute;left:20px;width:82px;height:15px;background:url('../img/sprite_premium.png') no-repeat 0px 0px;margin-top:12px;}
#popinArticle .head .close{display:block;position:absolute;right:15px;width:26px;height:26px;background:url('../img/sprite_premium.png') no-repeat 0px -15px;margin-top:6px;opacity:0.8;}
#popinArticle .head:hover .close{opacity:1;}
#popinArticle .body{position:absolute;width:100%;top:38px;bottom:0;left:0;overflow:auto;}
#popinArticle .body .loader{width:38px;height:36px;background:url('/v6/img/loading.gif') no-repeat;margin:12px auto 50px;}
#popinArticle .body article.loading{background:url('/v6/img/loading.gif') no-repeat center 25%;min-height:110%;width:auto;height:auto;margin:0;position:static;text-indent:0;}
#popinArticle .body .wrapper{position:relative;width:1024px;margin:30px auto;}
#popinArticle .body .wrapper .col.navigation{position:absolute;left:0;width:50px;background:#FFF;margin:5px 0;}
#popinArticle .body .wrapper .col.navigation.sticky{position:fixed;z-index:1;top:0;margin-top:68px;}
#popinArticle .body .wrapper .col.navigation .social{width:30px;margin:auto;}
#popinArticle .body .wrapper .col.navigation .social a{display:block;width:30px;margin-bottom:20px;background:url('../img/sprite_premium.png') no-repeat;}
#popinArticle .body .wrapper .col.navigation .social .twitter{height:19px;background-position:0px -42px;}
#popinArticle .body .wrapper .col.navigation .social .facebook{height:25px;background-position:4px -62px;}
#popinArticle .body .wrapper .col.navigation .social .google{height:26px;background-position:0px -87px;}
#popinArticle .body .wrapper .col.navigation .nav{width:20px;padding:20px 15px;margin:20px auto 0 auto;/*border-top:1px solid #d4dae6;*/}
#popinArticle .body .wrapper .col.navigation .nav a{display:block;width:19px;height:12px;margin-bottom:20px;background:#fff url('../img/sprite_premium.png') no-repeat;}
#popinArticle .body .wrapper .col.navigation .nav a.disabled{cursor:default;opacity:0.5;}
#popinArticle .body .wrapper .col.navigation .nav a.up{background-position:-56px -42px;}
#popinArticle .body .wrapper .col.navigation .nav a.down{background-position:-56px -56px;}
#popinArticle .body .wrapper .col.navigation .nav .num{display:block;margin-bottom:20px;font-size:13px;color:#7c8699;letter-spacing:1px;}
#popinArticle .body .wrapper .col.navigation .nav .num .current{font-weight:bold;color:#444;}
#popinArticle .body .wrapper .col.main{position:relative;margin-left:50px;width:980px;margin-bottom:100px;}
#popinArticle .body .wrapper .col.main .col.infos{width:120px;margin:5px 30px;float:left;overflow:hidden;}
#popinArticle .body .wrapper .col.main .col.infos .author{font-size:16px;font-weight:bold;color:#2c323d;line-height:20px;letter-spacing:-0.02em;}
#popinArticle .body .wrapper .col.main .col.infos .info{padding:15px 0;margin:20px 0;border-top:1px solid #d4dae6;border-bottom:1px solid #d4dae6;}
#popinArticle .body .wrapper .col.main .col.infos .info .date{display:inline-block;color:#596374;font-size:13px;line-height:17px;}
#popinArticle .body .wrapper .col.main .col.infos .info .place{display:inline-block;color:#2c323d;font-size:15px;font-weight:bold;margin-top:10px;line-height:20px;text-transform:uppercase;}
#popinArticle .body .wrapper .col.main .col.infos .favorite{color:#434b5a;font-size:13px;line-height:17px;}
#popinArticle .body .wrapper .col.main .col.infos .favorite .icon{display:block;float:left;width:26px;height:26px;background:url('../img/sprite_premium.png') no-repeat -51px -15px;margin:2px 10px;}
#popinArticle .body .wrapper .col.main .col.infos .favorite.selected .icon{background-position:-51px -121px;}
#popinArticle .body .wrapper .col.main .col.content{float:left;width:800px;}
#popinArticle .body .wrapper .col.main .col.content p.chapo{font-family:'Acto Light' !important;color:#2c323d !important;font-size:28px !important;margin-top:0 !important;line-height:36px !important;}
#popinArticle .body .wrapper .col.main .col.content .diaporama{margin:30px 0;}
#popinArticle .body .wrapper .col.main .col.content .diaporama .box_skitter{height:510px;width:770px;}
#popinArticle .body .wrapper .col.main .col.content .col.text{font-family:'Georgia';color:#072433;font-size:16px;line-height:27px;width:400px;float:left;margin-right:30px;min-height:100px;}
#popinArticle .body .wrapper .col.main .col.content .col.text p{font-family:'Georgia';margin:20px 0;}
#popinArticle .body .wrapper .col.main .col.content .col.text p * {font-family:'Georgia';}
#popinArticle .body .wrapper .col.main .col.content .col.text p a {text-decoration:underline;}
#popinArticle .body .wrapper .col.main .col.content .col.text p a:hover {text-decoration:none;}
#popinArticle .body .wrapper .col.main .col.content .col.text h2 {font-family:'Open Sans';font-weight:800;font-size:15px;color:#000;text-transform:uppercase;}
#popinArticle .body .wrapper .col.main .col.content .col.text .lettrine{float:left;font-family:'Acto Light';font-size:60px;line-height:50px;color:#7c8699;margin:0 10px;text-transform:uppercase;}
#popinArticle .body .wrapper .col.main .col.content .col.text p.intertitre+p.intertitre{display:inline}
#popinArticle .body .wrapper .col.main .col.content .col.text p.question,
#popinArticle .body .wrapper .col.main .col.content .col.text p.question b,
#popinArticle .body .wrapper .col.main .col.content .col.text p.question span,
#popinArticle .body .wrapper .col.main .col.content .col.text p.intertitrefergauche,
#popinArticle .body .wrapper .col.main .col.content .col.text p.intertitrefergauche>b,
#popinArticle .body .wrapper .col.main .col.content .col.text p.intertitre,
#popinArticle .body .wrapper .col.main .col.content .col.text p.titreresu1,
#popinArticle .body .wrapper .col.main .col.content .col.text .titrestart,
#popinArticle .body .wrapper .col.main .col.content .col.text .titre-graphique,
#popinArticle .body .wrapper .col.main .col.content .col.text .titrenom,
#popinArticle .body .wrapper .col.main .col.content .col.text .titrenom>span,
#popinArticle .body .wrapper .col.main .col.content .col.text p.titre .chiffre{font-family:'Acto Black';font-size:20px;color:#072433;line-height:24px;margin:30px 0;text-transform:uppercase;}

#popinArticle .body .wrapper .col.main .col.content .col.text p.question, #popinArticle .body .wrapper .col.main .col.content .col.text p.question b { text-transform:none!important}
#popinArticle .body .wrapper .col.main .col.content .col.text .titreoriginal{display:block;margin:20px 0;font-family:'Acto Light';font-size:24px;color:#434b5a;line-height:28px;}
#popinArticle .body .wrapper .col.main .col.content .col.text p.accroche{width:250px;float:right;padding:0 40px;font-family:'Acto Light';font-size:24px;color:#434b5a;line-height:28px;}
#popinArticle .body .wrapper .col.main .col.content .col.text p.exergue{border-top:1px solid #d4dae6;padding:30px 30px 0 30px;width:250px;margin-top:0;margin-right:20px;float:left;font-family:'Acto Black';font-size:16px;color:#484e5a;line-height:24px;}
#popinArticle .body .wrapper .col.main .col.content .col.text img.photo,
#popinArticle .body .wrapper .col.main .col.content .col.text img.image{float:left;margin:4px 20px 20px 0;}
#popinArticle .body .wrapper .col.main .col.content .col.text p.note-texte{font-size:12px;line-height:20px;color:#383F4C;}
#popinArticle .body .wrapper .col.main .col.content .col.text .flash_kplayer{height: 380px;}

#popinArticle .body .wrapper .col.main .col.content .col.side{float:left;width:365px;}
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item{border-top:1px solid #d4dae6;padding:30px 40px 0 40px;margin-top:30px;}

/*#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item:nth-child(2){border-top:none;padding-top:0;}*/
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item .texte .date{display:block;font-family:'Open Sans';font-weight:300;font-size:60px;color:#7c8699;line-height:60px;margin:20px 0;}
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item .chiffre,
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item .titre .chiffre,
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item .titre .chiffre>span{display:inline-block;font-family:'Open Sans';font-weight:300;font-size:60px;color:#7c8699;line-height:60px;}
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item .titre,
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item .titre>span,
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item .titre>span *,
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item .lignefondgris,
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item .fiche:first-child,
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item .fiche:first-child>span:first-child,
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item .fiche:first-child>span:first-child *,
/*#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item .texte:first-child,*/
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item .texte:first-child>span:first-child,
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item .texte:first-child>span:first-child *{font-family:'Acto Black';font-size:16px;color:#383f4c;text-transform:uppercase;margin-bottom:10px;}
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item .grascap{font-family:'Acto Black';font-size:14px;color:#383f4c;line-height:24px;text-transform:uppercase;}
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item .texte,
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item .fiche,
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item p{font-family:arial;font-size:13px;color:#434b5a;line-height:22px;margin-bottom:10px;}
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item .titre-graphique,
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item .titre-graphique .titre,
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item .titre-graphique .titre span{font-family:'Open Sans';font-weight:300;font-size:24px;line-height:28px;color:#434b5a;}
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item .rang:before{display:block;content:' ';}
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item .concurrent>span{display:inline-block;padding-left:25px;}
#popinArticle .body .wrapper .col.main .col.content .col.side.exergue .item .titre-graphique i{font-style:normal;}
#popinArticle .body .wrapper .col.main .col.content .topflop .titre-graphique{font-family:'Acto Light';font-size:40px;color:#7c8699;margin:30px 0;text-transform:uppercase;}


#popinArticle .body .wrapper .col.main .col.content .topflop .titre-graphique span {font-size:40px;margin-top:0}
#popinArticle .body .wrapper .col.main .col.content .topflop .titrenom{font-family:'Acto Black';font-size:20px;color:#072433;line-height:24px;margin:30px 0;text-transform:uppercase;}
#popinArticle .body .wrapper .col.main .col.content .topflop .titrenom .note{color:#ED1C24;}
#popinArticle .body .wrapper .col.main .col.content .topflop p.texte{font-family:'Georgia';color:#072433;font-size:16px;line-height:27px;margin:20px 0;}
#popinArticle .body .wrapper .col.main .col.content .topflop .top,
#popinArticle .body .wrapper .col.main .col.content .topflop .flop{width:45%;float:left;margin-right:5%;}
#popinArticle .body .wrapper .col.main .col.content .topflop  .top .titre-graphique{background:url("http://static.lequipe.fr/v6/img/premium/TOP.png") no-repeat 0 0;padding:30px 0 40px 120px;}
#popinArticle .body .wrapper .col.main .col.content .topflop  .flop .titre-graphique{background:url("http://static.lequipe.fr/v6/img/premium/FLOP.png") no-repeat 0 0;padding:30px 0 40px 120px;}


#popinArticle .body .wrapper .col.main .col.content .topflop .titre-graphique .titre { font-size:28px; line-height:20px}

#popinArticle .body .wrapper .col.main .col.content .topflop  .flop span.titrestart,
#popinArticle .body .wrapper .col.main .col.content .topflop  .top span.titrestart
{font-family:'Acto Black';font-size:20px;color:#072433;line-height:24px;margin:40px 0;text-transform:uppercase; text-decoration:underline}
#popinArticle .body .wrapper .col.main .col.content .topflop .chiffre{display: inline-block;
font-family: 'Open Sans';
font-weight: 300;
font-size: 60px;
color: #7c8699;
line-height: 60px;
}



#popinArticle .body .wrapper .col.main .col.content .medias{margin-top:30px;padding-top:30px;/*border-top:4px solid #e9eef5;*/}
#popinArticle .body .wrapper .col.main .col.content .medias h2,
#popinArticle .body .wrapper .col.main .col.content .medias p.titre{font-family:'Open Sans';font-weight:800;font-size:15px;color:#383f4c;margin:30px 0;}
#popinArticle .body .wrapper .col.main .col.content .medias .premiummedia-PDF{margin:20px 0;}
#popinArticle .body .wrapper .col.main .col.content .medias .premiummedia-PDF .iconPDF{display:block;float:left;width:25px;height:25px;margin:8px 4px 8px 10px;background:url("http://www.lequipe.fr//v6/img/premium/PDF.png") no-repeat;}
#popinArticle .body .wrapper .col.main .col.content .medias .premiummedia-PDF a{line-height:40px;font-family:'Open Sans';font-weight:700;font-size:13px;color:#383f4c;}
#popinArticle .body .wrapper .col.main .col.content .medias .premiummedia-IMG,
#popinArticle .body .wrapper .col.main .col.content .medias .premiummedia-INF,
#popinArticle .body .wrapper .col.main .col.content .medias .premiumtexte{text-align:center;}
#popinArticle .body .wrapper .col.main .col.content .medias .premiummedia-IMG img,
#popinArticle .body .wrapper .col.main .col.content .medias .premiumtexte img{margin:10px auto;}
#popinArticle .body .wrapper .col.main .col.content .medias .premiummedia-IMG>span{display:block;width:40%;margin:auto;font-size:12px;font-style:italic;}
#popinArticle .body .wrapper .col.main .col.content .medias .infog-premium img{max-width:100%;max-height:100%;}
#popinArticle .body .wrapper .col.main .col.content .medias .premiumtexte p{font-family:'Georgia';color:#072433;font-size:16px;line-height:27px;}
#popinArticle .body .wrapper .col.main .col.content .col.side.satellites h2{font-family:'Open Sans';font-weight:800;font-size:15px;color:#000;text-transform:uppercase;border-bottom:1px solid #d4dae6;padding-bottom:25px;margin-bottom:25px;}
#popinArticle .body .wrapper .col.main .col.content .col.side.satellites li{margin-bottom:25px;font-family:'Acto Black';font-size:17px;color:#2c323d;}
#popinArticle .body .wrapper .col.main .col.content .col.side.satellites li .num{display:inline-block;font-family:'Acto Light';color:#171b22;margin-right:20px;float:left;height:30px;}
#popinArticle .body .wrapper .col.main .connex-premium{margin-top:100px;padding-top:50px;border-top:2px solid #576572;margin-left:30px;}
#popinArticle .body .wrapper .col.main .connex-premium .logo{display:block;width:169px;height:39px;background:url("../img/logo-premium.png") no-repeat 0 0;position:absolute;margin-top:-70px;left:0;margin-left:410px;}
#popinArticle .body .wrapper .col.main .connex-premium .payPremium{width:175px;height:260px;padding:30px 70px;float:left;text-align:center;border-left:1px solid #bcc3d6;}
#popinArticle .body .wrapper .col.main .connex-premium .payPremium:first-child,
#popinArticle .body .wrapper .col.main .connex-premium .payPremiumJetons{border-left:none;}
#popinArticle .body .wrapper .col.main .connex-premium .payPremium.disabled{display:none;}
#popinArticle .body .wrapper .col.main .connex-premium .payPremium h2{font-family:'Open Sans';font-weight:800;font-size:15px;line-height:20px;height:40px;color:#2c323d;text-transform:uppercase;}
#popinArticle .body .wrapper .col.main .connex-premium .payPremium h2>span{display:block;font-size:13px;text-transform:none;}
#popinArticle .body .wrapper .col.main .connex-premium .payPremium .price{display:block;font-size:35px;color:#596374;margin:20px 0;}
#popinArticle .body .wrapper .col.main .connex-premium .payPremium .nb{display:block;font-size:13px;color:#434b5a;}
#popinArticle .body .wrapper .col.main .connex-premium .payPremium a{display:block;width:175px;line-height:50px;text-align:center;margin:20px 0;background:#d10000;color:#fff;font-size:15px;font-weight:bold;text-shadow:0px 1px 0px #000;border-radius:5px;}
#popinArticle .body .wrapper .col.main .connex-premium .payPremium a:hover{text-decoration:underline;}
#popinArticle .body .wrapper .col.main .connex-premium .payPremium a.active:hover{text-decoration:none;}
#popinArticle .body .wrapper .col.main .connex-premium .payPremium a.didactitiel {width:auto;line-height:normal;background:none;color:#000;text-shadow:none;font-size:13px;}
#popinArticle .body .wrapper .col.main .connex-premium .payPremium a.active {opacity:0.5;cursor:not-allowed;}
#popinArticle .body .wrapper .col.main .signin{display:none;width:100%;margin-top:15px;background:#e9eef5;border:1px solid #d4dae6;margin-left:30px;padding:0;}
#popinArticle .body .wrapper .col.main .signin.view{display:block;}
#popinArticle .body .wrapper .col.main .signin form{margin:20px 0px 20px 10px}
#popinArticle .body .wrapper .col.main .signin form h2{display:block;float:left;margin-top:10px;margin-right:25px;font-family:'Open Sans';font-weight:800;font-size:15px;color:#383f4c;text-transform:uppercase;}
#popinArticle .body .wrapper .col.main .signin form h2 .icon{display:inline-block;float:left;margin-top:-3px;height:20px;width:20px;margin-left:15px;background:url('../img/sprite_premium.png') no-repeat -40px -88px;}
#popinArticle .body .wrapper .col.main .signin form input{background:#fff;border:1px solid #d4dae6;width:230px;padding:10px 12px;margin-right:10px;}
#popinArticle .body .wrapper .col.main .signin form input[name="username"]{padding-left:35px;}
#popinArticle .body .wrapper .col.main .signin form input[type="submit"]{display:none;}
#popinArticle .body .wrapper .col.main .signin form .user-icon{position:absolute;margin-left:-277px;margin-top:9px;display:inline-block;height:20px;width:20px;background:url('../img/sprite_premium.png') no-repeat -65px -88px;}
#popinArticle .body .wrapper .col.main .signin form a.submit{display:inline-block;padding:12px;color:#fff;background:#383f4c;border-radius:3px;font-size:14px;}
#popinArticle .body .wrapper .col.main .signin form .error{margin-left:315px;margin-top:10px;color:#e1061a;}
#popinArticle .body .full{position:relative;z-index:2;width:100%;min-width:1024px;max-width:1680px;margin:auto;}
#popinArticle .body .full .num{position:absolute;z-index:2;left:50%;margin:-18px 0 0 -20px;display:block;width:40px;height:36px;line-height:36px;text-align:center;background:#072433;color:#fff;font-size:16px;font-weight:bold;}
#popinArticle .body .full .image{width:100%;height:1000px;overflow:hidden;background-repeat:no-repeat;background-position:center top;background-size:cover;}
#popinArticle .body .full .image img{display:none;width:100%;}
#popinArticle.ie7 .body .full .image,#popinArticle.ie8 .body .full .image{background:none !important;}
#popinArticle.ie7 .body .full .image img,#popinArticle.ie8 .body .full .image img{display:block;}
#popinArticle .body .full .title{position:absolute;width:100%;top:60%;text-align:center;color:#FFF;}
#popinArticle .body .full .title .wrapper{width:50%;margin:auto;}

/*
#popinArticle.ie7 .body .full .title .wrapper,#popinArticle.ie8 .body .full .title .wrapper,#popinArticle.ie9 .body .full .title .wrapper{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";padding:10px 0;}
*/

#popinArticle .body .full.noimage{position:static;}
#popinArticle .body .full.noimage .num{margin-top:-13px;}
#popinArticle .body .full.noimage .title{position:static;color:#171b22;}
#popinArticle .body .full.noimage .title .wrapper{padding:70px 0;border-top:10px solid #d4dae6;}
#popinArticle .body .article:first-child .full.noimage .title .wrapper{border-top:none;}
#popinArticle .body .full.noimage .title *{text-shadow:none !important;}
#popinArticle .body .full .title h1{font-family:'Acto Black';font-size:60px;margin-top:10px;text-shadow:0px 0px 10px #000;width:100%;}
#popinArticle .body .full .title .parent{font-family:'Acto ExtraBold';font-size:22px;margin-bottom:15px;text-shadow:0px 0px 5px #000;}
#popinArticle .body .full .title .tags{font-family:'interstateregular';font-size:28px;text-transform:uppercase;line-height:18px;margin-bottom:15px;text-shadow:0px 0px 5px #000;}
#popinArticle .body .full .title .tags .tag{display:inline-block;padding:5px 5px 3px 5px;font-family:'interstateregular';line-height:25px;}
#popinArticle .body .full .title .tags .tag.sport{padding-left:10px;border-left:5px solid #FFF;}
#popinArticle .body .full .title .tags .tag.sport[sport="Football"]{border-color:#84ad09;}
#popinArticle .body .full .title .tags .tag.sport[sport="Tennis"]{border-color:#f0851d;}
#popinArticle .body .full .title .tags .tag.sport[sport="Rugby"]{border-color:#007113;}
#popinArticle .body .full .title .tags .tag.sport[sport="Formule1"],
#popinArticle .body .full .title .tags .tag.sport[sport="Automobile"],
#popinArticle .body .full .title .tags .tag.sport[sport="Auto-moto"],
#popinArticle .body .full .title .tags .tag.sport[sport="Moto"]{border-color:#597984;}
#popinArticle .body .full .title .tags .tag.sport[sport="Basket"],
#popinArticle .body .full .title .tags .tag.sport[sport="Hand"],
#popinArticle .body .full .title .tags .tag.sport[sport="Handball"]{border-color:#183dac;}
#popinArticle .body .full .title .tags .tag.sport[sport="Golf"]{border-color:#711f3d;}
#popinArticle .body .full .title .tags .tag.sport[sport="Cyclisme"]{border-color:#EFD01B;}
#popinArticle .body .full .title .tags .tag.sport[sport="Aussi"],
#popinArticle .body .full .title .tags .tag.sport[sport="Athletisme"],
#popinArticle .body .full .title .tags .tag.sport[sport="Natation"]{border-color:#03acac;}
#popinArticle .body .full .title .tags .tag.sport[sport="Hippisme"]{border-color:#028f60;}
#popinArticle .body .full .title .tags .tag.sport[sport="EXTRA"],
#popinArticle .body .full .title .tags .tag.sport[sport="Découverte"]{border-color:#e1061a;}

#popinArticle.aboOnly {background:rgba(0,0,0,0.5);}
#popinArticle.aboOnly .body{top:0;padding-top:10%;}
#popinArticle.aboOnly .body .wrapper .col.main{background:#fff;box-shadow:0px 0px 5px #000000;margin:0;padding:30px;}
#popinArticle.aboOnly .body .wrapper .col.main p.chapo{font-family:'Acto Light' !important;color:#2c323d !important;font-size:28px !important;margin-top:0 !important;line-height:36px !important;text-align:center;margin-bottom:40px;}
#popinArticle.aboOnly .body .wrapper .col.main .connex-premium{position:relative;margin-top:20px;margin-left:0;}
#popinArticle.aboOnly .body .wrapper .col.main .connex-premium .logo{top:0;margin-top:-22px;margin-left:405px;}
#popinArticle.aboOnly .body .wrapper .col.main .connex-premium .payPremium{float:none;border:none;margin:auto;}
#popinArticle.aboOnly .body .wrapper .col.main .signin{width:auto;margin-left:0;}
#popinArticle.aboOnly .body .wrapper .col.main .signin form{margin:20px 15px;}

#popinArticle .article[data-aboonly="1"] .wrapper .col.main .connex-premium,.connex-premium.float_center {position:relative!important;margin-top:20px!important;}
#popinArticle .article[data-aboonly="1"] .wrapper .col.main .connex-premium .logo, .connex-premium.float_center .logo{top:0!important;margin-top:-22px!important;margin-left:405px!important;}
#popinArticle .article[data-aboonly="1"] .wrapper .col.main .connex-premium .payPremium,.connex-premium.float_center .payPremium {float:none!important;border:none!important;margin:auto!important;}


#popinArticle .sondage{width:360px;margin:5px auto;position:relative;padding:20px;border:1px solid #DDD;background-color:#FAFAFA }
#popinArticle .sondage .rep{float:left;width:93%;padding:5px 0 5px 7%;border-bottom:1px dotted #F0F0F0;position:relative;font-weight:700}
#popinArticle .sondage .rep input{position:absolute;top:4px ;left:3px}
#popinArticle .sondage .rep .libel{float:left;width:200px}
#popinArticle .sondage .rep .barre{float:left;width:0}
#popinArticle .sondage .rep .pc{float:right;width:30px;font-weight:700}
#popinArticle .sondage .total{position:absolute;bottom:0;left:0;background:#DDD;padding:2px 0;margin:0;width:100%;font-size:11px;color:#333;text-shadow:1px 1px 2px #AAA;font-weight:700}

#popinArticle .iconPremium{ float: left; width: 25px; padding: 0; height:25px; margin:2px 10px}
#popinArticle .iconPDF{ background: url(http://www.lequipe.fr//v6/img/premium/PDF.png)}

@media  (max-width: 1440px) {
	#popinArticle .body .full .title h1{font-size:50px;}
	#popinArticle .body .full .title .parent{font-size:18px;}
	#popinArticle .body .full .title .tags{font-size:23px;}
}

@media  (max-width: 1280px) {
	#popinArticle .body .full .title h1{font-size:40px;}
	#popinArticle .body .full .title .parent{font-size:15px;}
	#popinArticle .body .full .title .tags{font-size:18px;}
}

body.favoris #container{min-height:377px;}
body.favoris #container li{position:relative;}
body.favoris #container li a.close{display:block;position:absolute;z-index:10;top:5px;right:5px;width:24px;height:24px;background:url('http://static.lequipe.fr/v6/img/sprite_v65.png') no-repeat -280px -280px;opacity:0.8;}
body.favoris #container li a.close:hover{opacity:1;}
body.favoris #container li img{height:200px !important;}
body.favoris #container li.loading{background:url('http://static.lequipe.fr/v6/img/loading.gif') no-repeat center 25%;width:300px;height:200px;margin-left:350px !important;}
#popinArticle .infog-premium{border-right:none !important;}
.premiummedia-PDF strong{ float:left; margin-right:20px}
.premiummedia-PDF strong > a { float:left}

a.LienToutPremium{float:left;width:auto;margin-right:20px;min-height:inherit;margin-top:10px;font-weight:bold;font-size:16px;color:#373F4A;margin-top:40px}
a.LienToutPremium span{width:8px;height:12px;background:url(/v6/img/sprite_v65.png) -144px -103px;display:block;float:left;margin-right:4px;margin-top:1px}
a.LienToutPremium:hover{color:#000}


/* =Skitter styles
----------------------------------------------- */
#popinArticle .box_skitter {
	position: relative;
	width: 800px;
	height: 300px;
	background: #000;
}

#popinArticle .box_skitter img {
	max-width: none;
} /* Tip for stildv */
#popinArticle .box_skitter ul {
	display: none;
}

#popinArticle .box_skitter .container_skitter {
	overflow: hidden;
	position: relative;
}

#popinArticle .box_skitter .image {
	overflow: hidden;
}

#popinArticle .box_skitter .image img {
	display: none;
}

/* =Box clone
-------------------------------------------------------------- */
#popinArticle .box_skitter .box_clone {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	overflow: hidden;
	display: none;
	z-index: 20;
}

#popinArticle .box_skitter .box_clone img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
}

/* =Navigation
-------------------------------------------------------------- */
#popinArticle .box_skitter .prev_button {
	position: absolute;
	top: 50%;
	left: 35px;
	z-index: 152;
	width: 42px;
	height: 42px;
	overflow: hidden;
	text-indent: -9999em;
	margin-top: -25px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

#popinArticle .box_skitter .next_button {
	position: absolute;
	top: 50%;
	right: 35px;
	z-index: 152;
	width: 42px;
	height: 42px;
	overflow: hidden;
	text-indent: -9999em;
	margin-top: -25px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

#popinArticle .box_skitter .prev_button:hover, .box_skitter .next_button:hover {
	opacity: 0.5 !important;
}

/* =Numbers
-------------------------------------------------------------- */
#popinArticle .box_skitter .info_slide {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 100;
	background: #000;
	color: #fff;
	font: bold 11px arial;
	padding: 5px 0 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	opacity: 0.75;
}

#popinArticle .box_skitter .info_slide .image_number {
	background: #333;
	float: left;
	padding: 2px 10px;
	margin: 0 5px 0 0;
	cursor: pointer;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

#popinArticle .box_skitter .info_slide .image_number:hover {
	background: #000;
}

#popinArticle .box_skitter .info_slide .image_number_select, .box_skitter .info_slide .image_number_select:hover {
	background: #cc3333;
	float: left;
	padding: 2px 10px;
	margin: 0 5px 0 0;
}

/* =Thumbs
	Change width and height to customization dimension thumb
-------------------------------------------------------------- */
#popinArticle .box_skitter .container_thumbs {
	position: relative;
	overflow: hidden;
	height: 50px;
}

#popinArticle .box_skitter .info_slide_thumb {
	height: 50px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	overflow: hidden;
	top: auto;
	top: 0;
	left: 0;
	padding: 0 !important;
	opacity: 1.0;
}

#popinArticle .box_skitter .info_slide_thumb .image_number {
	overflow: hidden;
	width: 100px;
	height: 50px;
	position: relative;
	margin: 0 !important;
	padding: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
}

#popinArticle .box_skitter .info_slide_thumb .image_number img {
	position: absolute;
	top: -30px;
	left: -30px;
	height: 100px;
}

#popinArticle .box_skitter .box_scroll_thumbs {
	padding: 0;
}

#popinArticle .box_skitter .box_scroll_thumbs .scroll_thumbs {
	position: absolute;
	bottom: 60px;
	left: 50px;
	background: #ccc;
	background: -moz-linear-gradient(-90deg, #555, #fff);
	background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#fff));
	width: 200px;
	height: 10px;
	overflow: hidden;
	text-indent: -9999em;
	z-index: 101;
	cursor: pointer;
	border: 0px solid #333;
}

/* =Dots
-------------------------------------------------------------- */
#popinArticle .box_skitter .info_slide_dots {
	position: absolute;
	bottom: -40px;
	z-index: 151;
	padding: 5px 0 5px 5px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#popinArticle .box_skitter .info_slide_dots .image_number {
	background: #333;
	float: left;
	margin: 0 5px 0 0;
	cursor: pointer;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	width: 10px;
	height: 10px;
	text-indent: -9999em;
	overflow: hidden;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

#popinArticle .box_skitter .info_slide_dots .image_number:hover {
	background: #000;
}

#popinArticle .box_skitter .info_slide_dots .image_number_select, .box_skitter .info_slide_dots .image_number_select:hover {
	background: #cc3333;
	float: left;
	margin: 0 5px 0 0;
}

/* =Loading
-------------------------------------------------------------- */
#popinArticle .loading {
	position: absolute;
	top: 50%;
	right: 50%;
	z-index: 10000;
	margin: -16px -16px;
	color: #fff;
	text-indent: -9999em;
	overflow: hidden;
	background: url(/v6/img/skitter/ajax-loader.gif) no-repeat left top;
	width: 32px;
	height: 32px;
}

/* =Label
-------------------------------------------------------------- */
#popinArticle .box_skitter .label_skitter {
	z-index: 150;
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: none;
}

#popinArticle .box_skitter .label_skitter {
	z-index: 150;
	position: absolute;
	bottom: 0px;
	left: 0px;
	color: #fff;
	display: none;
	opacity: 0.7;
	background: #000;
}

#popinArticle .box_skitter .label_skitter p {
	padding: 20px 20px 40px 20px;
	margin: 0;
 
}

#popinArticle .box_skitter .progressbar {
	background: #000;
	position: absolute;
	top: 5px;
	left: 15px;
	height: 5px;
	width: 200px;
	z-index: 99;
	border-radius: 20px;
}

/* =Preview slide
-------------------------------------------------------------- */
#popinArticle .box_skitter .preview_slide {
	display: none;
	position: absolute;
	z-index: 152;
	bottom: 30px;
	left: -40px;
	width: 100px;
	height: 100px;
	background: #fff;
	border: 1px solid #222;
	-moz-box-shadow: rgba(0,0,0,0.7) 2px 2px 5px;
	-webkit-box-shadow: rgba(0,0,0,0.7) 2px 2px 5px;
	box-shadow: rgba(0,0,0,0.7) 2px 2px 5px;
	overflow: hidden;
}

#popinArticle .box_skitter .preview_slide ul {
	height: 100px !important;
	overflow: hidden !important;
	margin: 0 !important;
	list-style: none !important;
	display: block !important;
	position: absolute !important;
	top: 0;
	left: 0;
}

#popinArticle .box_skitter .preview_slide ul li {
	width: 100px !important;
	height: 100px !important;
	overflow: hidden !important;
	float: left !important;
	margin: 0 !important;
	padding: 0 !important;
	position: relative !important;
	display: block !important;
}

#popinArticle .box_skitter .preview_slide ul li img {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	height: 150px !important;
	width: auto !important;
}

/* =Focus
-------------------------------------------------------------- */
#popinArticle #overlay_skitter {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9998;
	opacity: 1;
	background: #000;
}

#popinArticle .box_skitter .focus_button {
	position: absolute;
	top: 50%;
	z-index: 100;
	width: 42px;
	height: 42px;
	overflow: hidden;
	text-indent: -9999em;
	margin-top: -25px;
	opacity: 0;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

#popinArticle .box_skitter .play_pause_button {
	position: absolute;
	top: 50%;
	z-index: 151;
	width: 42px;
	height: 42px;
	overflow: hidden;
	text-indent: -9999em;
	margin-top: -25px;
	opacity: 0;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

#popinArticle .box_skitter .play_pause_button.play_button {
}


#popinArticle .box_skitter .play_pause_button:hover {
	opacity: 0.5 !important;
}

#popinArticle .box_skitter .focus_button:hover {
	opacity: 0.5 !important;
}

/* =Example for dimenions
-------------------------------------------------------------- */
#popinArticle .box_skitter_large {
	width: 800px;
	height: 300px;
}

#popinArticle .box_skitter_small {
	width: 200px;
	height: 100px;
}

/* =Default theme
-------------------------------------------------------------- */
#popinArticle .box_skitter .focus_button, 
#popinArticle .box_skitter .next_button, 
#popinArticle .box_skitter .prev_button, 
#popinArticle .box_skitter .play_pause_button 
{
	display: block;
	background: url('/v6/img/skitter/sprite-default.png') no-repeat;
}

#popinArticle .box_skitter .next_button {
	background-position: -0px -42px;
	width: 42px;
	height: 42px;
}

#popinArticle .box_skitter .prev_button {
	background-position: -42px -42px;
	width: 42px;
	height: 42px;
}

#popinArticle .box_skitter .play_pause_button {
	background-position: -0px -0px;
	width: 42px;
	height: 42px;
}

#popinArticle .box_skitter .play_pause_button.play_button {
	background-position: -0px -84px;
	width: 42px;
	height: 42px;
}

#popinArticle .box_skitter .focus_button {
	background-position: -42px -0px;
	width: 42px;
	height: 42px;
}

/* =Minimalist theme
-------------------------------------------------------------- */
#popinArticle .skitter-minimalist .prev_button, 
#popinArticle .skitter-minimalist .next_button, 
#popinArticle .skitter-minimalist .play_pause_button, 
#popinArticle .skitter-minimalist .focus_button 
{
	display: block;
	background: url('/v6/img/skitter/sprite-minimalist.png') no-repeat !important;
}

#popinArticle .skitter-minimalist .prev_button {
	background-position: -0px -0px !important;
	width: 24px !important;
	height: 28px !important;
	left: -45px !important;
}

#popinArticle .skitter-minimalist .next_button {
	background-position: -0px -28px !important;
	width: 24px !important;
	height: 28px !important;
	right: -45px !important;
}

#popinArticle .skitter-minimalist .play_pause_button {
	background-position: -0px -74px !important;
	width: 18px !important;
	height: 18px !important;
}

#popinArticle .skitter-minimalist .play_pause_button.play_button {
	background-position: -0px -56px !important;
	width: 18px !important;
	height: 18px !important;
}

#popinArticle .skitter-minimalist .focus_button {
	background-position: -0px -92px !important;
	width: 18px !important;
	height: 18px !important;
}

#popinArticle .skitter-minimalist .info_slide {
	background: transparent;
}

#popinArticle .skitter-minimalist .info_slide .image_number {
	background: #000;
	box-shadow: rgba(255,255,255,0.2) 1px 1px 0;
	font-size: 12px;
	font-weight: normal;
}

#popinArticle .skitter-minimalist .info_slide .image_number:hover {
	background: #111;
}

#popinArticle .skitter-minimalist .info_slide .image_number_select, #popinArticle .skitter-minimalist .info_slide .image_number_select:hover {
	background: #cc3333;
}

#popinArticle .skitter-minimalist .info_slide_dots .image_number {
	width: 14px;
	height: 14px;
	box-shadow: rgba(255,255,255,0.2) 1px 1px 0;
}

/* =Round theme
-------------------------------------------------------------- */
#popinArticle .skitter-round .prev_button, 
#popinArticle .skitter-round .next_button, 
#popinArticle .skitter-round .play_pause_button, 
#popinArticle .skitter-round .focus_button 
{
	display: block;
	background: url('/v6/img/skitter/sprite-round.png') no-repeat;
}

#popinArticle .skitter-round .prev_button {
	background-position: -0px -0px;
	width: 23px;
	height: 47px;
	left: -23px;
}

#popinArticle .skitter-round .next_button {
	background-position: -23px -0px;
	width: 23px;
	height: 47px;
	right: -23px;
}

#popinArticle .skitter-round .next_button:hover, 
#popinArticle .skitter-round .prev_button:hover {
	opacity: 1;
}

#popinArticle .skitter-round .play_pause_button {
	background-position: -0px -70px;
	width: 47px;
	height: 23px;
	top: 24px;
	left: 24px !important;
}

#popinArticle .skitter-round .play_pause_button.play_button {
	background-position: -0px -47px;
	width: 47px;
	height: 23px;
	top: 24px;
}

#popinArticle .skitter-round .focus_button {
	background-position: -0px -93px;
	width: 47px;
	height: 23px;
	top: 24px;
	left: 82px !important;
}

#popinArticle .skitter-round .info_slide {
	background: transparent;
}

#popinArticle .skitter-round .info_slide .image_number {
	background: #999;
	box-shadow: rgba(255,255,255,0.2) 1px 1px 0;
	font-size: 12px;
	font-weight: normal;
}

#popinArticle .skitter-round .info_slide .image_number:hover {
	background: #333;
}

#popinArticle .skitter-round .info_slide .image_number_select, 
#popinArticle .skitter-round .info_slide .image_number_select:hover {
	background: #111;
}

#popinArticle .skitter-round .info_slide_dots .image_number {
	width: 14px;
	height: 14px;
	box-shadow: rgba(255,255,255,0.2) 1px 1px 0;
	background: #999;
}

#popinArticle .skitter-round .info_slide_dots .image_number:hover {
	background: #333;
}

#popinArticle .skitter-round .info_slide_dots .image_number_select, 
#popinArticle .skitter-round .info_slide_dots .image_number_select:hover {
	background: #111;
}

#popinArticle .skitter-round .progressbar {
	top: -10px;
	left: 0px;
	background: #333;
	box-shadow: rgba(255,255,255,0.3) 1px 1px 0;
}

/* =Clean theme
-------------------------------------------------------------- */
#popinArticle .skitter-clean .prev_button, 
#popinArticle .skitter-clean .next_button, 
#popinArticle .skitter-clean .play_pause_button, 
#popinArticle .skitter-clean .focus_button 
{
	display: block;
	background: url('/v6/img/skitter/sprite-clean2.png') no-repeat;
}

#popinArticle .skitter-clean .prev_button {
	background-position: 0px 0px;
	width: 150px;
	height: 160px;
	-moz-opacity:0.2;
	-webkit-opacity:0.2;
	opacity:0.2;


}

#popinArticle .skitter-clean .next_button {
	background-position: 0px -161px;
	width: 150px;
	height: 160px;
		-moz-opacity:0.2;
	-webkit-opacity:0.2;
	opacity:0.2;
}

#popinArticle .skitter-clean .play_pause_button {
	background-position: 0px -300px;
	width: 41px;
	height: 41px;
}

#popinArticle .skitter-clean .play_pause_button.play_button {
	background-position: -0px -392px;
	width: 41px;
	height: 41px;
}

#popinArticle .skitter-clean .focus_button {
	background-position: -0px -474px;
	width: 41px;
	height: 41px;
}

#popinArticle .skitter-clean .info_slide {
	background: transparent;
}

#popinArticle .skitter-clean .info_slide .image_number {
	background: #fff;
	box-shadow: rgba(0,0,0,0.2) 1px 1px 0;
	font-size: 12px;
	font-weight: normal;
	color:#333;
}

#popinArticle .skitter-clean .info_slide .image_number:hover {
	background: #ccc;
}

#popinArticle .skitter-clean .info_slide .image_number_select, 
#popinArticle .skitter-clean .info_slide .image_number_select:hover {
	background: #111;
	color:#fff;
}

#popinArticle .skitter-clean .info_slide_dots {
	bottom: 10px;

}

#popinArticle .skitter-clean .info_slide_dots .image_number {
	width: 14px;
	height: 14px;
	background: #999;
}

#popinArticle .skitter-clean .info_slide_dots .image_number:hover {
	background: #333;
}

#popinArticle .skitter-clean .info_slide_dots .image_number_select, 
#popinArticle .skitter-clean .info_slide_dots .image_number_select:hover {
	background: #111;
}

#popinArticle .skitter-clean .progressbar {
	top: 5px;
	left: 5px;
	background: #fff;
 
}

/* =Square theme
-------------------------------------------------------------- */

#popinArticle .skitter-square .play_pause_button, 
#popinArticle .skitter-square .next_button, 
#popinArticle .skitter-square .focus_button, 
#popinArticle .skitter-square .prev_button 
{
	display: block;
	background: url('/v6/img/skitter/sprite-square.png') no-repeat;
}

#popinArticle .skitter-square .play_pause_button {
	background-position: -55px -0px;
	width: 55px;
	height: 55px;
	top: 10px !important;
	left: 10px !important;
	bottom: auto !important;
	right: auto !important;
	margin-top:0;
}

#popinArticle .skitter-square .play_pause_button.play_button {
	background-position: -0px -0px;
	width: 55px;
	height: 55px;
}

#popinArticle .skitter-square .focus_button {
	background-position: -55px -55px;
	width: 55px;
	height: 55px;
	top: 10px !important;
	left: 65px !important;
	bottom: auto !important;
	right: auto !important;
	margin-top:0;
}

#popinArticle .skitter-square .next_button {
	background-position: -0px -55px;
	width: 55px;
	height: 55px;
	top: auto;
	left: auto;
	bottom: 10px;
	right: 10px;
}

#popinArticle .skitter-square .prev_button {
	background-position: -0px -110px;
	width: 55px;
	height: 55px;
	top: auto;
	left: auto;
	bottom: 10px;
	right: 65px;
}

#popinArticle .skitter-square .info_slide {
	background: transparent;
}

#popinArticle .skitter-square .info_slide .image_number {
	background: #fff;
	box-shadow: rgba(0,0,0,0.2) 1px 1px 0;
	font-size: 12px;
	font-weight: normal; 
	color:#333;
}

#popinArticle .skitter-square .info_slide .image_number:hover {
	background: #ccc;
}

#popinArticle .skitter-square .info_slide .image_number_select, 
#popinArticle .skitter-square .info_slide .image_number_select:hover {
	background: #111;
	color:#fff;
}

#popinArticle .skitter-square .info_slide_dots .image_number {
	width: 14px;
	height: 14px;
	box-shadow: rgba(255,255,255,0.2) 1px 1px 0;
	background: #ccc;
}

#popinArticle .skitter-square .info_slide_dots .image_number:hover {
	background: #999;
}

#popinArticle .skitter-square .info_slide_dots .image_number_select, 
#popinArticle .skitter-square .info_slide_dots .image_number_select:hover {
	background: #555;
}

#popinArticle .skitter-square .progressbar {
	top:0 !important;
	left: 0 !important;
	width: 100%;
	background: #fff;
	border-radius: 0;
	height: 2px;
}

/* Ajout le bouton du loader sur Page premium */
#popinArticle .body .wrapper .col.main .connex-premium .payPremium a.action-button{padding:0!important}
#popinArticle .body .wrapper .col.main .connex-premium .payPremium a.action-button.action-load{text-shadow:none}
#popinArticle .body .wrapper .col.main .connex-premium .payPremium a.action-button.action-load:hover{text-decoration:none}

.action-button,.action-button-cancel,#popinArticle .body .wrapper .col.main .connex-premium .payPremium a.action-button{font-size:16px;background-color:#d60000;font-family:Raleway,sans-serif;font-weight:600;border-radius:5px;color:#fff;-webkit-transition:all .5s;transition:all .5s;border:none;padding:8px 5px;margin:0}
.action-button:hover,.action-button-cancel:hover,#popinArticle .body .wrapper .col.main .connex-premium .payPremium a.action-button:hover{cursor:pointer;background-color:#2c323d}
.action-button.action-load,.action-button-cancel.action-load,#popinArticle .body .wrapper .col.main .connex-premium .payPremium a.action-button.action-load{opacity:1;filter:alpha(opacity=100);position:relative;min-width:100px;color:#fbffff;-webkit-transition:all 1s;transition:all 1s;background-color:#ea8080;padding-right:39px;background-image:url(http://www.lequipe.fr/v6/img/ajax-loader.gif);background-position:right 10px center;background-repeat:no-repeat;-ms-interpolation-mode:bicubic;image-rendering:-moz-crisp-edges}
.action-button.action-load:hover,.action-button-cancel.action-load:hover,#popinArticle .body .wrapper .col.main .connex-premium .payPremium a.action-button.action-load:hover{background-color:#ea8080}