.zoneload #Placar.no-commented { cursor: pointer;  width: 465px !important; height: 138px  }
.zoneload #Placar.no-commented .event{  width: 465px !important; height: 131px  	}
.zoneload #Placar .entete{ display : none }
.zoneload #Placar   .logo img { width: 45px !important}
.zoneload #Placar #EqDom   .logo img {  float: left;}
.zoneload #Placar #EqExt   .logo img {  float: right;}
.zoneload #Placar .PlInfo{top: 5px;}
.zoneload #Placar .PlInfo .score{   font-size: 36px;     height: 37px;    width: 43px;}
.Football .zoneload #Placar .PlInfo .score{   font-size: 36px;     height: 37px;    width: 25px;}

.zoneload #Placar .statut{ left: 22px; width: 420px; font-size: 25px;display: block !important;}

.zoneload #Placar .PlInfo .score{ margin : 5px 3px; }
.zoneload #imgstade img,.zoneload #Placar .event img{display: block}
.zoneload #Placar .PlInfo #EqDom .equipe{  top: 77px ;font-size: 17px; padding: 5px !important;  top: 22px;    width: 142px; text-align: right;    left: 38px;}
.zoneload #Placar .PlInfo #EqExt .equipe{  top: 77px ;font-size: 17px; padding: 5px !important;   top: 22px;    width: 142px;   text-align: left;  right: 38px;}

.Basket   #Placar .PlInfo .equipe, .Rugby  #Placar .PlInfo  .equipe{width: 123px !important;}

.linkfiche{ margin: 10px 0; float: left;  	}
.zoneload .PlEq .logo {height: 60px !important}
.zoneload .PlEq .equipe, .zoneload .PlEq .logo, .zoneload .PlEq .maillot{ margin : 0 1%; }
.zoneload #Placar .PlInfo .PlEq .equipe,.zoneload #Placar .PlInfo .PlEq .logo{ top: 12px; width: 98%}
.zoneload #Placar .PlInfo .PlEq .buteurs{ top: 64px !important}

.zoneload #Placar.PlcNight .grid { background-position: 0 -657px;
-moz-opacity: 0.9;
-webkit-opacity: 0.9;
opacity: 0.9;
filter: alpha(opacity=90);}

body.Football .zoneload #Placar .statut .sco .min:hover{background-color: rgba(100, 185, 0, 100) !important;}
body.Rugby .zoneload #Placar .statut .sco .min:hover{background-color: rgba(00, 113, 19, 100) !important;}
body.Basket .zoneload #Placar .statut .sco .min:hover{background-color: rgba(24, 61, 172, 100) !important;}
body.JO .zoneload #Placar .statut .sco .min:hover{background-color: rgba(00, 153, 255, 100) !important;}
body.Football #Placar.no-commented .event{ border-top: 4px solid #84AC09 !important; border-bottom: 4px solid #84AC09 !important;}
body.Rugby #Placar.no-commented .event{ border-top: 4px solid #007113 !important; border-bottom: 4px solid #007113 !important;}
body.Basket #Placar.no-commented .event{ border-top: 4px solid #183DAC !important; border-bottom: 4px solid #183DAC !important;}
body.JO #Placar.no-commented .event{ border-top: 4px solid #09F !important; border-bottom: 4px solid #09F !important;}
